<a href="https://colab.research.google.com/github/sonaliaruk/hotel-booking-EDA/blob/main/hotel_booking_datacleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project Name - Hotel Booking Analysis

By - Sonali Aruk


# üìã Project Summary

Before conducting exploratory data analysis (EDA), the hotel booking dataset underwent a structured data cleaning process to ensure accuracy, consistency, and readiness for analysis. The dataset contained multiple columns related to booking details, customer demographics, stay durations, and cancellation status.

**üßº Key Cleaning Steps Performed**:

1. **Missing Value Handling** :
* Identified and addressed missing values in columns like comapny, agent, and country.Replaced or imputed missing values where appropriate.

2. **Dropping Unnecessary Columns** :
* Removed columns that were not relevant to our analysis, such as URLs, image links, and redundant calculated fields.
* Drop the column where null value percenatge is` greater than 40%`.

3. **Checking & Removing Duplicates** :
* Verified that no duplicate records were present in dataset.Checked for duplicate id values and ensured uniqueness.

* **Data Type Corrections** :
* Converted date-related fields `such as children to integer` format.
* Ensured numerical columns like adr, lead_time, and total_of_special_requests were correctly typed.

* **Standardization of Categorical Columns** :
* Cleaned inconsistent values in columns like meal, deposit_type,country and customer_type by removing typos or harmonizing categories.

* **Outlier Checks** :
* Investigated extreme values in adr and lead_time to ensure they were valid.

* **Exporting Cleaned Data** :
* Exported the final `cleaned dataset as "Cleaned_hotel_data"` for further analysis and visualizations.

**Conclusion** :

This cleaning process ensures that the hotel_booking dataset is ready for accurate insights and visual storytelling.üöÄüìä

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google. colab import drive
drive. mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
hotel_df = pd.read_csv('/content/drive/MyDrive/hotel_bookings.csv.zip')

In [ ]:
pd.set_option('display.max_columns',None)
hotel_df

Buffered data was truncated after reaching the output size limit.

In [ ]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [ ]:
hotel_df['is_canceled'] = hotel_df['is_canceled'].replace({0:'No', 1:'Yes'})

In [ ]:
hotel_df['adults'].isnull().sum()

np.int64(0)

In [ ]:
hotel_df.duplicated().sum()

np.int64(31994)

In [ ]:
hotel_df.drop_duplicates(inplace = True)

In [ ]:
hotel_df.isnull().sum()

hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              4
babies                                0
meal                                  0
country                             452
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                             12193
company                           82137
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
dtype: int64

In [ ]:
#calculate pertange off null value
hotel_df.isnull().sum()/len(hotel_df)*100

hotel                              0.000000
is_canceled                        0.000000
lead_time                          0.000000
arrival_date_year                  0.000000
arrival_date_month                 0.000000
arrival_date_week_number           0.000000
arrival_date_day_of_month          0.000000
stays_in_weekend_nights            0.000000
stays_in_week_nights               0.000000
adults                             0.000000
children                           0.004577
babies                             0.000000
meal                               0.000000
country                            0.517186
market_segment                     0.000000
distribution_channel               0.000000
is_repeated_guest                  0.000000
previous_cancellations             0.000000
previous_bookings_not_canceled     0.000000
reserved_room_type                 0.000000
assigned_room_type                 0.000000
booking_changes                    0.000000
deposit_type                       0.000000
agent                             13.951439
company                           93.982562
days_in_waiting_list               0.000000
customer_type                      0.000000
adr                                0.000000
required_car_parking_spaces        0.000000
total_of_special_requests          0.000000
reservation_status                 0.000000
reservation_status_date            0.000000
dtype: float64

In [ ]:
hotel_df.drop(['company'] ,axis=1,inplace = True)

In [ ]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87396 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           87396 non-null  object
 1   is_canceled                     87396 non-null  object
 2   lead_time                       87396 non-null  int64
 3   arrival_date_year               87396 non-null  int64
 4   arrival_date_month              87396 non-null  object
 5   arrival_date_week_number        87396 non-null  int64
 6   arrival_date_day_of_month       87396 non-null  int64
 7   stays_in_weekend_nights         87396 non-null  int64
 8   stays_in_week_nights            87396 non-null  int64
 9   adults                          87396 non-null  int64
 10  children                        87392 non-null  float64
 11  babies                          87396 non-null  int64
 12  meal                            87396 non-null  object
 13  country                         86944 non-null  object
 14  market_segment                  87396 non-null  object
 15  distribution_channel            87396 non-null  object
 16  is_repeated_guest               87396 non-null  int64
 17  previous_cancellations          87396 non-null  int64
 18  previous_bookings_not_canceled  87396 non-null  int64
 19  reserved_room_type              87396 non-null  object
 20  assigned_room_type              87396 non-null  object
 21  booking_changes                 87396 non-null  int64
 22  deposit_type                    87396 non-null  object
 23  agent                           75203 non-null  float64
 24  days_in_waiting_list            87396 non-null  int64
 25  customer_type                   87396 non-null  object
 26  adr                             87396 non-null  float64
 27  required_car_parking_spaces     87396 non-null  int64
 28  total_of_special_requests       87396 non-null  int64
 29  reservation_status              87396 non-null  object
 30  reservation_status_date         87396 non-null  object
dtypes: float64(3), int64(15), object(13)
memory usage: 21.3+ MB

In [ ]:
hotel_df['hotel'].unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

In [ ]:
# delete null value from children column because only 4 column has null value which does not affect the df if delete

In [ ]:
#hotel_df['children'].dropna(inplace =True)
hotel_df.dropna(subset=['children'],inplace = True)
hotel_df['children'] = hotel_df['children'].astype(int)

In [ ]:
hotel_df['children'].isnull().sum()

np.int64(0)

In [ ]:
# now clean country column
hotel_df['country'].isnull().sum()

np.int64(452)

In [ ]:
#clean resevation_status column
hotel_df['reservation_status'] = hotel_df['reservation_status'].replace('No-Show','Canceled')

In [ ]:
!pip install pycountry

Collecting pycountry
  Downloading pycountry-24.6.1-py3-none-any.whl.metadata (12 kB)
Downloading pycountry-24.6.1-py3-none-any.whl (6.3 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 6.3/6.3 MB 37.8 MB/s eta 0:00:00
Installing collected packages: pycountry
Successfully installed pycountry-24.6.1

In [ ]:
#following code is used to change the country code into full name

In [ ]:
import pycountry
code = hotel_df['country']
def country_fullname(code):
  try:
    return pycountry.countries.get(alpha_3=code).name #alpha_3 is used becuase 3 letter code here
  except:
    return code
hotel_df['country']=hotel_df['country'].apply(country_fullname)

In [ ]:
hotel_df['country'] = hotel_df['country'].fillna('unknown')

In [ ]:
hotel_df['country'].isnull().sum()

np.int64(0)

In [ ]:
#clean meal column
hotel_df['meal'].unique()

array(['BB', 'FB', 'HB', 'SC', 'Undefined'], dtype=object)

In [ ]:
#for i in hotel_df['meal']:
 # if i == 'BB':
   # hotel_df['meal'].replace('BB','Bed & Breakfast')
  #elif i == 'HB':
   # hotel_df['meal'].replace('HB','Half board')
  #elif i == 'FB':
   # hotel_df['meal'].replace('FB','Full board')
  #elif i == 'SC':
   #  hotel_df['meal'].replace('SC','Self-catering')

In [ ]:
hotel_df.replace({
    'meal': {
        'BB': 'Bed & Breakfast',
        'HB': 'Half board',
        'FB': 'Full board',
        'SC': 'Self-catering'
    }
}, inplace=True)

hotel_df['meal'].unique()

array(['Bed & Breakfast', 'Full board', 'Half board', 'Self-catering',
       'Undefined'], dtype=object)

In [ ]:
# clean market_segment column

hotel_df = hotel_df[hotel_df['market_segment'] != 'Undefined']

In [ ]:
hotel_df['market_segment'].unique()

array(['Direct', 'Corporate', 'Online TA', 'Offline TA/TO',
       'Complementary', 'Groups', 'Aviation'], dtype=object)

In [ ]:
sorted(hotel_df['reserved_room_type'].unique())

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'L', 'P']

In [ ]:
sorted(hotel_df['assigned_room_type'].unique())

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'P']

In [ ]:
sorted(hotel_df['booking_changes'].unique())

[np.int64(0),
 np.int64(1),
 np.int64(2),
 np.int64(3),
 np.int64(4),
 np.int64(5),
 np.int64(6),
 np.int64(7),
 np.int64(8),
 np.int64(9),
 np.int64(10),
 np.int64(11),
 np.int64(12),
 np.int64(13),
 np.int64(14),
 np.int64(15),
 np.int64(16),
 np.int64(17),
 np.int64(18),
 np.int64(20),
 np.int64(21)]

In [ ]:
# clean agent column
hotel_df['agent'].unique()

array([ nan, 304., 240., 303.,  15., 241.,   8., 250., 115.,   5., 175.,
       134., 156., 243., 242.,   3., 105.,  40., 147., 306., 184.,  96.,
         2., 127.,  95., 146.,   9., 177.,   6., 143., 244., 149., 167.,
       300., 171., 305.,  67., 196., 152., 142., 261., 104.,  36.,  26.,
        29., 258., 110.,  71., 181.,  88., 251., 275.,  69., 248., 208.,
       256., 314., 126., 281., 273., 253., 185., 330., 334., 328., 326.,
       321., 324., 313.,  38., 155.,  68., 335., 308., 332.,  94., 348.,
       310., 339., 375.,  66., 327., 387., 298.,  91., 245., 385., 257.,
       393., 168., 405., 249., 315.,  75., 128., 307.,  11., 436.,   1.,
       201., 183., 223., 368., 336., 291., 464., 411., 481.,  10., 154.,
       468., 410., 390., 440., 495., 492., 493., 434.,  57., 531., 420.,
       483., 526., 472., 429.,  16., 446.,  34.,  78., 139., 252., 270.,
        47., 114., 301., 193., 182., 135., 350., 195., 352., 355., 159.,
       363., 384., 360., 331., 367.,  64., 406., 163., 414., 333., 427.,
       431., 430., 426., 438., 433., 418., 441., 282., 432.,  72., 450.,
       180., 454., 455.,  59., 451., 254., 358., 469., 165., 467., 510.,
       337., 476., 502., 527., 479., 508., 535., 302., 497., 187.,  13.,
         7.,  27.,  14.,  22.,  17.,  28.,  42.,  20.,  19.,  45.,  37.,
        61.,  39.,  21.,  24.,  41.,  50.,  30.,  54.,  52.,  12.,  44.,
        31.,  83.,  32.,  63.,  60.,  55.,  56.,  89.,  87., 118.,  86.,
        85., 210., 214., 129., 179., 138., 174., 170., 153.,  93., 151.,
       119.,  35., 173.,  58.,  53., 133.,  79., 235., 192., 191., 236.,
       162., 215., 157., 287., 132., 234.,  98.,  77., 103., 107., 262.,
       220., 121., 205., 378.,  23., 296., 290., 229.,  33., 286., 276.,
       425., 484., 323., 403., 219., 394., 509., 111., 423.,   4.,  70.,
        82.,  81.,  74.,  92.,  99.,  90., 112., 117., 106., 148., 158.,
       144., 211., 213., 216., 232., 150., 267., 227., 247., 278., 280.,
       285., 289., 269., 295., 265., 288., 122., 294., 325., 341., 344.,
       346., 359., 283., 364., 370., 371.,  25., 141., 391., 397., 416.,
       404., 299., 197.,  73., 354., 444., 408., 461., 388., 453., 459.,
       474., 475., 480., 449.])

In [ ]:
hotel_df['agent'].fillna(0,inplace = True)

/tmp/ipython-input-39-943005198.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  hotel_df['agent'].fillna(0,inplace = True)

In [ ]:
hotel_df['agent'] = hotel_df['agent'].astype(int)

In [ ]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87392 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           87392 non-null  object
 1   is_canceled                     87392 non-null  object
 2   lead_time                       87392 non-null  int64
 3   arrival_date_year               87392 non-null  int64
 4   arrival_date_month              87392 non-null  object
 5   arrival_date_week_number        87392 non-null  int64
 6   arrival_date_day_of_month       87392 non-null  int64
 7   stays_in_weekend_nights         87392 non-null  int64
 8   stays_in_week_nights            87392 non-null  int64
 9   adults                          87392 non-null  int64
 10  children                        87392 non-null  int64
 11  babies                          87392 non-null  int64
 12  meal                            87392 non-null  object
 13  country                         87392 non-null  object
 14  market_segment                  87392 non-null  object
 15  distribution_channel            87392 non-null  object
 16  is_repeated_guest               87392 non-null  int64
 17  previous_cancellations          87392 non-null  int64
 18  previous_bookings_not_canceled  87392 non-null  int64
 19  reserved_room_type              87392 non-null  object
 20  assigned_room_type              87392 non-null  object
 21  booking_changes                 87392 non-null  int64
 22  deposit_type                    87392 non-null  object
 23  agent                           87392 non-null  int64
 24  days_in_waiting_list            87392 non-null  int64
 25  customer_type                   87392 non-null  object
 26  adr                             87392 non-null  float64
 27  required_car_parking_spaces     87392 non-null  int64
 28  total_of_special_requests       87392 non-null  int64
 29  reservation_status              87392 non-null  object
 30  reservation_status_date         87392 non-null  object
dtypes: float64(1), int64(17), object(13)
memory usage: 21.3+ MB

In [ ]:
# clean distribution_channel column
hotel_df = hotel_df[hotel_df['distribution_channel'] != 'Undefined']

In [ ]:
hotel_df['distribution_channel'].unique()

array(['Direct', 'Corporate', 'TA/TO', 'GDS'], dtype=object)

In [ ]:
hotel_df['distribution_channel'] = hotel_df['distribution_channel'].replace({'TA/TO': 'Travel Agent/Tour Operator','GDS':'Travel Agent/Tour Operator'})

/tmp/ipython-input-44-1443143529.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df['distribution_channel'] = hotel_df['distribution_channel'].replace({'TA/TO': 'Travel Agent/Tour Operator','GDS':'Travel Agent/Tour Operator'})

In [ ]:
hotel_df['distribution_channel']

0                             Direct
1                             Direct
2                             Direct
3                          Corporate
4         Travel Agent/Tour Operator
                     ...
119385    Travel Agent/Tour Operator
119386    Travel Agent/Tour Operator
119387    Travel Agent/Tour Operator
119388    Travel Agent/Tour Operator
119389    Travel Agent/Tour Operator
Name: distribution_channel, Length: 87391, dtype: object

In [ ]:
hotel_df['reservation_status_date'] = pd.to_datetime(hotel_df['reservation_status_date'])

/tmp/ipython-input-46-2225176473.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df['reservation_status_date'] = pd.to_datetime(hotel_df['reservation_status_date'])

In [ ]:
hotel_df['reservation_status_date']

0        2015-07-01
1        2015-07-01
2        2015-07-02
3        2015-07-02
4        2015-07-03
            ...
119385   2017-09-06
119386   2017-09-07
119387   2017-09-07
119388   2017-09-07
119389   2017-09-07
Name: reservation_status_date, Length: 87391, dtype: datetime64[ns]

In [ ]:
#clean adr column
hotel_df = hotel_df[hotel_df['adr'] != 5400]

In [ ]:
pd.set_option('display.max_rows',None)
adr = hotel_df['adr'].unique()

In [ ]:
hotel_df['adr'] = abs(hotel_df['adr'])

In [ ]:
hotel_df[hotel_df['adr'] < 0]

Empty DataFrame
Columns: [hotel, is_canceled, lead_time, arrival_date_year, arrival_date_month, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, adults, children, babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date]
Index: []

[0 rows x 31 columns]

In [ ]:
# change 0 and 1 to no and yes in is_repeated_guest column
hotel_df['is_repeated_guest'] = hotel_df['is_repeated_guest'].replace({0:'No' , 1:'Yes'})

In [ ]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87390 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           87390 non-null  object
 1   is_canceled                     87390 non-null  object
 2   lead_time                       87390 non-null  int64
 3   arrival_date_year               87390 non-null  int64
 4   arrival_date_month              87390 non-null  object
 5   arrival_date_week_number        87390 non-null  int64
 6   arrival_date_day_of_month       87390 non-null  int64
 7   stays_in_weekend_nights         87390 non-null  int64
 8   stays_in_week_nights            87390 non-null  int64
 9   adults                          87390 non-null  int64
 10  children                        87390 non-null  int64
 11  babies                          87390 non-null  int64
 12  meal                            87390 non-null  object
 13  country                         87390 non-null  object
 14  market_segment                  87390 non-null  object
 15  distribution_channel            87390 non-null  object
 16  is_repeated_guest               87390 non-null  object
 17  previous_cancellations          87390 non-null  int64
 18  previous_bookings_not_canceled  87390 non-null  int64
 19  reserved_room_type              87390 non-null  object
 20  assigned_room_type              87390 non-null  object
 21  booking_changes                 87390 non-null  int64
 22  deposit_type                    87390 non-null  object
 23  agent                           87390 non-null  int64
 24  days_in_waiting_list            87390 non-null  int64
 25  customer_type                   87390 non-null  object
 26  adr                             87390 non-null  float64
 27  required_car_parking_spaces     87390 non-null  int64
 28  total_of_special_requests       87390 non-null  int64
 29  reservation_status              87390 non-null  object
 30  reservation_status_date         87390 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(16), object(13)
memory usage: 21.3+ MB

In [ ]:
hotel_df.to_csv('cleaned_hotel_data.csv',index = False)

In [ ]:
#from google.colab import files
#files.download('cleaned_hotel_data.csv')

Final dataset has been exported successfully! ‚úÖ